<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <title>Login</title>      
    <link rel="icon" href="{% static 'img/book.png' %}">
    <link rel="stylesheet" href="{% static 'css/login2.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kalnia:wght@100..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nanum+Myeongjo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Cairo:wght@200..1000&family=Caveat:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kalnia:wght@100..700&family=Lobster&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nanum+Myeongjo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="login-back">
      <div class="login-back-logo" >
        <span>Readify</span>
      </div>
      <form action="{% url 'loginform' %}" method="post" class="ElForm">  
        {% csrf_token %}
        <input type="text" name="username" class="logInText" id="ElInput1" placeholder="Username" onfocus="ElFocus1()" onblur="ElFocus1()" required> 
        <input type="password" name="password" class="logInText"  id="ElInput2" placeholder="Password" onfocus="ElFocus2()" onblur="ElFocus2()" required>
        {% if error %}
          <p style="color: red; margin: 0px">{{ error }}</p>
        {% endif %} 
        <button type="submit" class="logInButton" style="margin-top:15px ;" >LOG IN</button>

      <p>Don't have an account yet? &nbsp; <a href="/auth/signup">Sign Up</a> </p>
    </form>
    </div>
    <script src="{% static 'js/shared.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>
